{% load static %}
<div class="box">
<div class="box1">
  <a href="/boshuu"><span class="box-title">募集中</span></a>
  <div class="a2">
    <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle1" width="60" height="60"> <div class="b1" >?????</div>
    
  </div>
  
</div>

<div class="box2">
  <span class="box-title">対戦中</span>
  <div class="a1">
    <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle2" width="60" height="60"> <div class="b" >ちーむめい</div>
  </div>
  
  <div class="a">
    <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle2" width="60" height="60"> <div class="b" >ちーむめいああ</div>
  </div>
  
 

</div>

<div class="box3">
  <span class="box-title">終了</span>
  <div class="a1">
    <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle2" width="60" height="60"> <div class="b" >ちーむめい</div>
  </div>
  
  <div class="a">
    <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle2" width="60" height="60"> <div class="b" >ちーむめいああ</div>
  </div>
</div>


</div>
