{% load static %}
<div>
  <ul class="ul3">
    <li class="ran10">
      <a href="/room" class="sentaku">募集中</a>
  
    </li>


    <li class="ran3">
      <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle2" width="30" height="30">
      
      <span>
  
        あああああ
  
      </span>
  
    </li>
  
</ul>

<ul class="ul3">
  <li class="ran10">
    <a href="/room" class="sentaku">対戦中</a>

  </li>
  <li class="ran1">
    <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle2" width="30" height="30">
    
    <span>

      あああああ

    </span>

  </li>
  <li class="ran1">
    <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle2" width="30" height="30">
    
    <span>

      あああああ

    </span>

  </li>

  </ul>
<div class="aida">
  <ul class="ul3">
    <li class="ran10">
      <a href="/room" class="sentaku">終了</a>
  
    </li>
    <li class="ran2">
      <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle2" width="30" height="30">
      
      <span>
  
        あああああ
  
      </span>
  
    </li>
    <li class="ran2">
      <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle2" width="30" height="30">
      
      <span>
  
        あああああ
  
      </span>
  
    </li>
  
    </ul>
</div>

  </div>
