{% load static %}

<div class="pro"> <img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="200" height="200">
    <div><span class="name3">name</span>
    
    <div class="twittermiru"><a>twitterを見る</a></div>
    </div>

</div>
            


<div class="flex">
     <div class="flex1">
        
        <table class="table1">
            <tr>
              <th class="thhead">ガチエリア</th>
              <td class="tdhead">データ</td>
           
            </tr>
            <tr>
              <th class="thhead">ガチヤグラ</th>
              <td class="tdhead">データ</td>
          
            </tr>
            <tr>
              <th class="thhead">ガチホコ</th>
              <td class="tdhead">データ</td>
           
            </tr>
            <tr>
              <th class="thhead">ガチアサリ</th>
              <td class="tdhead">データ</td>
           
            </tr>
          </table>

          <div class="pr">自己紹介aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
    </div>
                
    <div class="flex3">
        <h2 class="teame"><a href="/teammake"> チームを作成</a></h2>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
              所属チーム
            </a>
            <a href="#" class="list-group-item list-group-item-action text-center">ああああああああああ</a>
            <a href="#" class="list-group-item list-group-item-action">いいいいいいい</a>
            <a href="#" class="list-group-item list-group-item-action">ううううううう</a>
           
          </div>
    </div>
                
</div>