{% load static %}

    <h2 class="suuji">
      
     <span class="rate">2222</span>
  
    </h2>
    
      <li class="yonin1">
        <img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="40" height="40">
        
        <span>
  
          あああああ
  
        </span>
    
      </li>
      <li class="yonin1">
        <img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="40" height="40">
        
        <span>
  
          あああああ
  
        </span>
    
      </li>
  
      <li class="yonin1">
        <img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="40" height="40">
        
        <span>
  
          あああああ
  
        </span>
    
      </li>
      <li class="yonin1">
        <img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="40" height="40">
        
        <span>
  
          あああああ
  
        </span>
    
      </li>
