{% load static %}
<h1 class="ti">
    ガチレート
  </h1>

<div class="sen8"></div>

<div class="bg-primary text-white rounded-pill p-3 bg-dark">フレンドコード: 「****-****-****」</div>

<div class="bunkatu">

    <div class="player1">
        /*8文字まで*/

        <h2 class="namae " >ちーむめい</h2>
        <h2 class="a1" >
            <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle2" width="60" height="60"> <div class="namae1" >????????</div>
        </h2>
        <h2 class="a1" >
            <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle2" width="60" height="60"> <div class="namae1" >????????</div>
        </h2>
        <h2 class="a1" >
            <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle2" width="60" height="60"> <div class="namae1" >????????</div>
        </h2>
        <h2 class="a1" >
            <img src="{% static 'app/css/12.png' %}" alt="" class="rounded-circle2" width="60" height="60"> <div class="namae1" >????????</div>
        </h2>

        <h2 class="a3" > <div class="reto">レート   </div> <div class="namae2" >1111</div> </h2>

    </div>




    <div class="player2 ">
        

        <div class="button_solid001">
            <a href="#">対戦する</a>
          </div>
    



    </div>




</div>







