{% load static %}
<table class="table">



    <thead>
      <tr class="table-dark">
        <th scope="col" style="width: 10%" class="t">1</th>
        <th scope="col" style="width: 40%" class="t">2000</th>
        <th scope="col" style="width: 10%" colspan="2" class="tt">チーム名kokoko</th>
      </tr>
    </thead>
    <tbody>
      <tr class="media-list" class="td">
        <th scope="row" style="width: 10%"><img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="100" height="100">
        </th>
        <td style="width: 40%" class="th">Mark</td>
        <th scope="row" style="width: 10%"><img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="100" height="100"></th>
        <td style="width: 40%" class="th">@mdo</td>
      </tr>

      <tr class="media-list">
        <th scope="row"><img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="100" height="100"></th>
        <td class="th">Jacob</td>
        <th scope="row"><img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="100" height="100"></th>
        <td class="th">@fat</td>
      </tr>
    </tbody>
</table>

<table class="table">



  <thead>
    <tr class="table-dark">
      <th scope="col" style="width: 10%" class="t">2</th>
      <th scope="col" style="width: 40%" class="t">2000</th>
      <th scope="col" style="width: 10%" colspan="2" class="tt">チーム名kokoko</th>
    </tr>
  </thead>
  <tbody>
    <tr class="media-list" class="td">
      <th scope="row" style="width: 10%"><img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="100" height="100">
      </th>
      <td style="width: 40%" class="th">Mark</td>
      <th scope="row" style="width: 10%"><img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="100" height="100"></th>
      <td style="width: 40%" class="th">@mdo</td>
    </tr>

    <tr class="media-list">
      <th scope="row"><img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="100" height="100"></th>
      <td class="th">Jacob</td>
      <th scope="row"><img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="100" height="100"></th>
      <td class="th">@fat</td>
    </tr>
  </tbody>
</table>

<table class="table">



  <thead>
    <tr class="table-dark">
      <th scope="col" style="width: 10%" class="t">3</th>
      <th scope="col" style="width: 40%" class="t">2000</th>
      <th scope="col" style="width: 10%" colspan="2" class="tt">チーム名kokoko</th>
    </tr>
  </thead>
  <tbody>
    <tr class="media-list" class="td">
      <th scope="row" style="width: 10%"><img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="100" height="100">
      </th>
      <td style="width: 40%" class="th">Mark</td>
      <th scope="row" style="width: 10%"><img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="100" height="100"></th>
      <td style="width: 40%" class="th">@mdo</td>
    </tr>

    <tr class="media-list">
      <th scope="row"><img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="100" height="100"></th>
      <td class="th">Jacob</td>
      <th scope="row"><img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="100" height="100"></th>
      <td class="th">@fat</td>
    </tr>
  </tbody>
</table>