{% load static %}
<div class="flex">
<div class="flex1">
  <h1 class="ti">
    ガチレート
  </h1>
  <ul class="ul1">
  {% include  "_ranking.html" %}

  {% include  "_ranking.html" %}

  {% include  "_ranking.html" %}

  </ul>
  <div class="nawabari">
    <h1 class="ti1">
    ガチナワバリ
    </h1>
  </div>

  <ul class="ul1">
    {% include  "_ranking.html" %}

    {% include  "_ranking.html" %}

    {% include  "_ranking.html" %}

  </ul>


</div>

<div class="flex2">
twitterいれる
</div>

</div>