{% load static %}

  <ul class="ul3">
    <li class="ran10">
      <a href="/room" class="sentaku">募集中</a>
  
    </li>


    <li class="ran4">
      <span class="rule">
        ガチエリア
      </span>
    </li>

    <li class="ran5">
        <span class="power">
            xp2500~xp2600
        </span>
    </li>


    <li class="ran4">
        <span class="saki">
            3先
        </span>
    </li>

</ul>

<ul class="ul3">
  <li class="ran10">
    <a href="/room" class="sentaku">対戦中</a>

    <li class="ran6">
        <span class="rule">
          ガチエリア
        </span>
      </li>
  
      <li class="ran7">
          <span class="power">
              xp2500~xp2600
          </span>
      </li>
  
  
      <li class="ran6">
          <span class="saki">
              3先
          </span>
    </li>

  </ul>

  <ul class="ul3">
    <li class="ran10">
      <a href="/room" class="sentaku">終了</a>
  
      <li class="ran8">
        <span class="rule">
          ガチエリア
        </span>
      </li>
  
      <li class="ran9">
          <span class="power">
              xp2500~xp2600
          </span>
      </li>
  
  
      <li class="ran8">
          <span class="saki">
              3先
          </span>
      </li>
  
    </ul>


  