{% load static %}
<form>
    <div class="form-group row name1">
    <label for="colFormLabel" class="col-sm-2 col-form-label teammei">チーム名</label>
    <div class="col-sm-10 teammei1">
      <input type="text" class="form-control"  placeholder="チーム名を入力">
    </div>
</form>


     
    <!-- チェックボックス -->
    <form>   
    <div class="check">
        <div class="input-group search">
            <span>
                フォローしているアカウント
            </span>
            <span class="nyuuryoku"> <input type="text" class="form-control" placeholder="テキスト入力欄"></span>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default ooki">検索</button>
            </span>
        </div>
    <input type="checkbox" checked id="check-1" name="" value=""/>
    <label for="check-1" class="label">
        <img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="50" height="50">
        <span class="username">username</span>
    </label>
    
    
    <input type="checkbox" id="check-2" name="" value=""/>
    <label for="check-2" class="label">
        <img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="50" height="50">
        <span>username</span>
    </label>

    
  
    <input type="checkbox" id="check-3" name="" value=""/>
    <label for="check-3" class="label">
        <img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="50" height="50">
        <span>username</span>
    </label>

      
    <input type="checkbox" id="check-4" name="" value=""/>
    <label for="check-4" class="label">
        <img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="50" height="50">
        <span>username</span>
    </label>
        
    <input type="checkbox" id="check-5" name="" value=""/>
    <label for="check-5" class="label">
        <img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="50" height="50">
        <span>username</span>
    </label>
    <input type="checkbox" id="check-6" name="" value=""/>
    <label for="check-6" class="label">
        <img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="50" height="50">
        <span>username</span>
    </label>
    <input type="checkbox" id="check-7" name="" value=""/>
    <label for="check-7" class="label">
        <img src="{% static 'app/css/11.png' %}" alt="" class="rounded-circle" width="50" height="50">
        <span>username</span>
    </label>
    </div>
</form>

<div class="d-grid gap-2 d-md-flex justify-content-md-end sakusei">
    <button class="btn btn-primary me-md-2 btn-sm" type="button">作成</button>
  
  </div>
    