
{% extends 'base.html' %}
{% load static %}

{% block main %}
<!--{% if username == "shun" %}
<h1>自分です</h1>
{% elif username %}
<h1>{{username}}さんようこそ！</h1>
{% else %}
<h1>匿名さん、ようこそ！</h1>
{% endif %}-->
<div class="urlichi">

<img src="{% static 'app/css/a.jpg' %}" class="img-fluid" alt="..." >

<p><a href="{% url 'twitter_login' %}" class="twitter">
<span><img src="{% static 'app/css/twitter.png' %}" class="img-fluid" alt="..."   width="30" height="30"></span>
<span>新規登録・ログイン</span>
</a></p>
</div>



{% include  "_table.html" %}






<!--<ul class="list-group">
  <li class="list-group-item-dark active" aria-current="true">1</li>

</ul>-->
{% endblock main %}