{% extends 'base.html' %}
{% load static %}

<body class="body2">
{% block main %}


<p class="text2">新規登録</p>
<div class="touroku">
<form>
<div class="cp_iptxt">
	<input class="ef" type="text" placeholder="">
	<label>ユーザー名</label>
	<span class="focus_line"></span>
</div>

<div class="cp_iptxt">
	<input class="ef" type="text" placeholder="">
	<label>フレンドコード</label>
	   <span class="focus_line"></span>
	   <div class="iro">「XXXX-XXXX-XXXX」の形式で入力してください。</div>
</div>


<div class="mb-3">
	<label for="exampleFormControlTextarea1" class="form-label">プロフィール</label>
	<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

</form>
</div>


<div class="basho">
<button type="submit" class="btn btn-primary">送信する</button>
</div>
{% endblock main %}
</body>