


/*.text {
    color: #494949;
    border-bottom: dashed 5px #ffaf58;;
    
}*/

  .body > .div {
    /*背景色を見せるために、幅と高さを指定*/ 
    width: 150px;
    height: 50px;
  }
  
  .first {
    /*firstというクラスの要素の背景を青色にする*/   
    background-color: blue;
  }

  .b-example-divider {
    background-color: rgba(27, 23, 38, 0.338);
    }
    
    
    
    .header{
        padding-top: 200px; /*高さを下げて合わせる*/
    }
    
.body{
  width: 100%;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(21, 32, 43);
  color: white;
  padding-top: 100px;
}
    
.waku{
    margin-top: 10px;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 8rem;

  background-color: #ffff00;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 600);
}

.tape{
    display: block;
    background-color: rgb(85, 85, 58);
    opacity: 0.2;
    transform: rotate(10deg);
    width: 40%;
    height: 35px;
    margin: -2em auto 0 auto;
    border-left: 3px dotted rgba(0,0,0,.1);
    border-right: 3px dotted rgba(0,0,0,.1);
 }

.sen8{
    padding-top: 1rem;
    color: rgba(128, 128, 128, 0.595);
    border-bottom: solid 2px rgba(128, 128, 128, 0.595);
  }

.sen0{
    padding-bottom: 1rem;
  }


