
.bg-primary{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: #313131;
}

.bunkatu{
    display: flex;
    width: 100%;
}

.player1{
    width: 100%;
    margin: 1rem;
    padding: 0.5em 1em;
    margin: 1em;
    color: #5989cf;
    background: hsl(223,calc(var(--saturation-factor, 1)*6.9%),19.8%);
    border-bottom: solid 6px hsl(223,calc(var(--saturation-factor, 1)*6.9%),19.8%);
    border-radius: 9px;
}

.player2{
   
    width: 100%;
    margin: 1rem;
    padding: 0.5em 1em;
    margin: 1em;
    color: #5989cf;
    background:  hsl(216,calc(var(--saturation-factor, 1)*7.2%),13.5%);
    border-bottom: solid 6px  hsl(216,calc(var(--saturation-factor, 1)*7.2%),13.5%);
    border-radius: 9px;
}

.namae{
    background-color: hsl(220,calc(var(--saturation-factor, 1)*7.7%),22.9%);
    height: 3rem;
    text-align: center;
    padding-top: 3px;
   
    color: rgb(255, 255, 255);
    border-radius:30px;
}

.namae1{
    margin-top: 8px;
    height: 3rem;
    text-align: center;
    padding-top: 5px;
   
    color: rgb(255, 255, 255);
    border-radius:30px;
    text-align: center;
    width: 100%;

    background-color: hsl(220,calc(var(--saturation-factor, 1)*7.7%),22.9%);
}

.namae2{
    margin-top: 8px;
    height: 3rem;
    text-align: center;
    padding-top: 5px;
    
    color: rgb(255, 255, 255);
    border-radius:30px;
    text-align: center;
    width: 70%;

    background-color: #db28ff;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 0 4px #db28ff;
    color: #fff;
    color: black;
}

.reto{
    padding-top: 12px;
   
    color: rgb(255, 255, 255);
}

.a3{
	width: 100%;
	justify-content: space-around;
	Display:flex;
	text-align: center;
	padding: 5px;
}

/* solid001 */
.button_solid001 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 240px;
    margin-top: 12rem;
    padding: 1rem;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: rgba(221, 108, 255, 0.677);
    Text-decoration:none;
    border-radius: 3px;
    text-align: center;
    list-style: none;
}
.button_solid001 a:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}

.a1{
    width: 100%;
	justify-content: space-around;
	Display:flex;
	text-align: center;
	padding: 5px;
}