.yonin1{
    list-style: none;
    background-color: rgb(84, 84, 84);
    color: white;
    font-size: 2rem;
    float: left;
    width: 50%;
    border: solid 1px rgba(128, 128, 128, 0.595);
    height: 100%;
    padding-left: 1rem;
}

.yonin2{
    list-style: none;
  
    color: white;
    font-size: 2rem;
    float: left;
    width: 50%;
  
    background-color: rgb(21, 32, 43);
}

.kensaku{
    height: 80%;
}

.button_solid00 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 240px;
    margin-top: 0.5rem;
    padding: 0.1rem;
    color: #ffffff;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: rgba(221, 108, 255, 0.677);
    Text-decoration:none;
    border-radius: 3px;
    text-align: center;
}
.button_solid00 a:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
}

.ul2{
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    background-color: transparent;
    margin-top: 2rem;
    clear: both;
    list-style: none;
    height: 100%;
    margin-bottom: 2rem;
}

.input-group-lg{
    width: 70%;
    height: 100%;
    padding-top: 0.4rem;
    display: flex;
}

.btn{
    background-color: rgba(221, 108, 255, 0.677);
    color: #ffffff;
    border: none;
    
}

.ran{
    list-style: none;
    background-color: gray;
    color: white;
    font-size: 1.5rem;
    float: left;
    width: calc(20%);
    text-align: center;
}

.ran{
    padding: 0.5em 1em;
    margin-top: 1rem;
    background: hsl(223,calc(var(--saturation-factor, 1)*6.9%),19.8%);
  
}


.ul3{
   
    margin: 0;
    padding-inline-start: 0px; /**/

}

.ran1{
    list-style: none;
    background-color: gray;
    color: white;
    font-size: 1.5rem;
    float: left;
    width: calc(40%);
    margin-top: 0.5rem;
    text-align: center;
    padding: 0.43em 1em;
    background: #ff737339;
    border-left: solid 0.3rem #2c2c2c;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.ran2{
    list-style: none;
    background-color: gray;
    color: white;
    font-size: 1.5rem;
    float: left;
    width: calc(40%);
    margin-top: 0.5rem;
    text-align: center;
    padding: 0.43em 1em;
    background: hsl(220,calc(var(--saturation-factor, 1)*7.7%),22.9%);
    border-left: solid 0.3rem #2c2c2c;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.ran3{
    list-style: none;
    background-color: gray;
    color: white;
    font-size: 1.5rem;
    float: left;
    width: calc(80%);
    margin-top: 0.5rem;
    text-align: center;
    padding: 0.43em 1em;
    background: #faff7339;
    border-left: solid 0.3rem #2c2c2c;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.sentaku{
    color: #ffffff;
    Text-decoration:none
}

