<header class="sticky-top bg-light">
<nav class="container navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ikarate</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ガチレート</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">ガチナワバリ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">対抗戦</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">大会</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">サーバー</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}さん
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">プロフィール</a></li>
                  <li><a class="dropdown-item" href="#">設定</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'twitter_logout' %}">ログアウト</a></li>
                </ul>
              </li>    
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" onclick="location.href='{% url 'twitter_login' %}'" href="#">ログイン</a>
            </li>
            {% endif %}
        </ul>
        {% comment %} <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> {% endcomment %}
      </div>
    </div>
  </nav>
</header>